<a href="https://colab.research.google.com/github/maligireddytanujareddy/DATAMINING/blob/main/basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importing the modules to access parametres and functions
import random 
import sys
import os

In [ ]:
# Checking how print function works
print ("Hello World")

Hello World

In [ ]:
#Assigning a label to a variable and printing it
name="Tanuja"
print(name)

Tanuja

In [ ]:
# Checking the arithmetic operators,exponential calculation and floor division
print("10+2=",10+2)
print("9-3=",9-3)
print("2*2=",2*2)
print("15%3=",15%3)
print("15/3=",15/3)
print("2**3=",2**3)
print("20//2=",20//2)

10+2= 12
9-3= 6
2*2= 4
15%3= 0
15/3= 5.0
2**3= 8
20//2= 10

In [ ]:
# Order of operators / and * then + and -
print("8+3-6/2+4*7-5=",8+3-6/2+4*7-5)
print("(8+3-6)/2+4*(7-5)=",(8+3-6)/2+4*(7-5))

8+3-6/2+4*7-5= 31.0
(8+3-6)/2+4*(7-5)= 10.5

In [ ]:
# A string is a string of characters surrounded by " or '
# If you must use a " or ' between the same quote escape it with \
quote = "\"I am M.Tanuja Reddy,"
 
# A multi-line quote
multi_line_quote = ''' I am a graduate
student in Sanjose state university" '''
 
print(quote + multi_line_quote)

"I am M.Tanuja Reddy, I am a graduate
student in Sanjose state university"

In [ ]:
# to get a string in outputs use %s
print("%s %s %s" %('I graduated in 2021',quote,multi_line_quote))

I graduated in 2021 "I am M.Tanuja Reddy,  I am a graduate
student in Sanjose state university"

In [ ]:
# To avoid printing newlines use end=""
print("i am from ",end="")
print("hyderabad")
 
# for printing multiple strings we can use *
print('\n' * 5)

i am from hyderabad

In [ ]:
# LISTS -------------
# A list allows you to create a list of values and manipulate them
# Each value in the list has an index starting at 0 and last one being number n-1(where n is number of values in list)

name_list = ['tanuja', 'amulya', 'subha', 'mbr','bunny']
print('name is', name_list[1])

#You can update or change the value stored in a list
name_list[0] = "sweety"
print(name_list)

# You can get a subset of the list with [min:max-1]
print(name_list[1:3])
 
other_events = ['driving', 'eating', 'drinking']
to_do_list = [other_events, name_list]
 
print(to_do_list)
 
# Get the second item in the second list (Boxes inside of boxes)
print(to_do_list[1][1])

#we can add values using append function
name_list.append('onions')
print(to_do_list)

name is amulya
['sweety', 'amulya', 'subha', 'mbr', 'bunny']
['amulya', 'subha']
[['driving', 'eating', 'drinking'], ['sweety', 'amulya', 'subha', 'mbr', 'bunny']]
amulya
[['driving', 'eating', 'drinking'], ['sweety', 'amulya', 'subha', 'mbr', 'bunny', 'onions']]

In [ ]:
# inserting an item at a particular index
name_list.insert(1, "pickle")
 
# Remove item from list
name_list.remove("onions")
 
# Sorts items in list
name_list.sort()
 
# Reverse sort items in list
name_list.reverse()
 
# using del function we can delete an item at particular index
del name_list[4]
print(to_do_list)

[['driving', 'eating', 'drinking'], ['sweety', 'subha', 'pickle', 'mbr', 'amulya']]

In [ ]:
# We can use + to combine lists 
to_do_list = other_events + name_list
print(to_do_list)
 
# To get length of list use len function
print(len(to_do_list))
 
# To get the max item in list use max function
print(max(to_do_list))
 
# To get the min item in list use min function
print(min(to_do_list))

['driving', 'eating', 'drinking', 'sweety', 'subha', 'pickle', 'mbr', 'amulya']
8
sweety
amulya

In [ ]:
# TUPLES -------------
# Values in a tuple can't change like lists
 
pi_tuple = (3, 1, 4, 1, 5, 9)
 
# We can convert tuple into a list using list function
new_tuple = list(pi_tuple)
print(new_tuple)
 
# Convert a list into a tuple
new_list = tuple(name_list)
print(new_list)
 
# tuples also have len(tuple), min(tuple) and max(tuple)
print(len(pi_tuple))
print(min(pi_tuple))
print(max(pi_tuple))

[3, 1, 4, 1, 5, 9]
('sweety', 'subha', 'pickle', 'mbr', 'amulya')
6
1
9

In [ ]:
# DICTIONARY or MAP -------------
# Made up of values with a unique key for each value
# Similar to lists, but you can't join dicts with a +
 
seasonal_fruits = {'summer' : 'mango',
                  'winter' : 'custard apple',
                  'rainy' : 'water melon',
                  'spring' : 'orange',
                  'autumn' : 'grape'}
 
print(seasonal_fruits['spring'])
 
# Delete an entry
del seasonal_fruits['rainy']
print(seasonal_fruits)
 
# Replace a value
seasonal_fruits['winter'] = 'Chickoo'
 
# Print the number of items in the dictionary
print(len(seasonal_fruits))
 
# Get the value for the passed key
print(seasonal_fruits.get("autumn"))
 
# Get a list of dictionary keys
print(seasonal_fruits.keys())
 
# Get a list of dictionary values
print(seasonal_fruits.values())

orange
{'summer': 'mango', 'winter': 'custard apple', 'spring': 'orange', 'autumn': 'grape'}
4
grape
dict_keys(['summer', 'winter', 'spring', 'autumn'])
dict_values(['mango', 'Chickoo', 'orange', 'grape'])

In [ ]:
# CONDITIONALS -------------
# The if, else and elif statements are used to perform different actions based off of conditions
# Comparison Operators : ==, !=, >, <, >=, <=
 
# The if statement will execute code if a condition is satisfied
# indentation or White space is used to group blocks of code in Python
# Use the same number of proceeding spaces for blocks of code
 
age = 20
if age > 16 :
    print('your age is greater than 16')
 
# Use an if statement if you want to execute different code regardless of whether the condition ws met or not
# by using else tcode will be executed for all the values for which the if condition is not met
 
if age > 16 :
    print('your age is greater than 16')
else :
    print('your age is less than 16')
 
# when we want to check using multiple condition we use elif
# if the if condition is satisfied for the input data then the execution processs will end there and the next steps willnot be followed
 
if age >= 21 :
    print('your age is greater than or equal to 21')
elif age >= 16:
    print('your age is greater than or equal to 16 but less than 21')
else :
    print('You are not old enough')
 
# We can combine the two conditions using the logical operators like or,and & not
 
if ((age >= 1) and (age <= 20)):
    print("your age is greater than 16")
elif (age == 21) or (age >= 65):
    print("your age is greater equal to 21 or greater than equal to 65")
elif not(age == 30):
    print("your age is 30")
else:
    print("ur age does not satisfy any of the above conditions")

your age is greater than 16
your age is greater than 16
your age is greater than or equal to 16 but less than 21
your age is greater than 16

In [ ]:
# FOR LOOPS -------------
# uSING for loops we can perform the actions any number of times we want by specifying a range
# Range performs the action 10 times 0 - 9
for x in range(0, 20):
    print(x , ' ', end="")
 
 # printing a new line
print('\n')
 
# you can also access the values in a list using the loop in a cycle
grocery_list = ['Juice', 'Tomatoes', 'Potatoes', 'Bananas']
 
for y in grocery_list:
    print(y)

0  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19

Juice
Tomatoes
Potatoes
Bananas

In [ ]:
# You can also define a list of numbers to cycle through
for x in [2,4,6,8,10]:
    print(x)

2
4
6
8
10

In [ ]:
# using nested loops help us to cycle through lists
num_list =[[1,2,3],[10,20,30],[100,200,300]];
 
for x in range(0,3):
    for y in range(0,3):
        print(num_list[x][y])

1
2
3
10
20
30
100
200
300

In [ ]:
# WHILE LOOPS -------------
# While loops are used when you dont know what range should we specoify for the loop to run

#randrange functions picks some random values from the range that we specify
#everytime we run the function it displays a random number within the range inclusive of first(0) number excluding the last(100)

random_num = random.randrange(0,100)
 
# when the random number is 35 the loop will end
while (random_num != 35):
    print(random_num)
    random_num = random.randrange(0,100)

1
15
60
79
18

In [ ]:
# For a while loop we initiate the iterator by assigning a value before the loop
i = 0;
while (i <= 50):
    if(i%5 == 0):
        print(i)
    elif(i == 36 ):
        # Using break we forces the loop to end all together without proceding to the next step.
        break
    else:
        # Shorthand for i = i + 1
        i += 1
        # Skips to the next iteration of the loop
        continue
 
    i += 1

0
5
10
15
20
25
30
35

In [ ]:
# FUNCTIONS -------------

# Functions allow you to reuse and write readable code
# Type def (define), function name and parameters it receives
# return is used to return something to the caller of the function
def mulNumbers(fNum, prodNum):
    prodNum = fNum * prodNum
    return prodNum
 
print(mulNumbers(5, 4))

20

In [ ]:

# If you define a variable outside of the function it works every place and that variable is called GLOBAL Variable
newNum = 0;
def subNumbers(fNum, sNum):
    newNum = fNum - sNum
    return newNum
 
print(subNumbers(1, 4))

-3

In [ ]:
# USER INPUT -------------
print('What is your name?')
 
# Stores everything typed up until ENTER
#stdin. readline() stands for standard input which is a stream from which the program reads its input data.
name = sys.stdin.readline()
print('Hello', name)

#it asks for an input and when we input a value the process takes place
username = input("Enter username:")
print("Username is: " + username)

What is your name?
Hello
Enter username:hi
Username is: hi

In [ ]:
# STRINGS -------------
# A string is a series of characters surrounded by ' or "
# even the space is counted asa character
demo_string = "i am tanuja reddy from sjsu se ds"
 
# Retrieve the first 4 characters
print(demo_string[0:7])

print(demo_string[5:15])
 
# Get the last 5 characters
print(demo_string[-4:])
 
# Everything up to the last 5 characters
print(demo_string[:-8])
 
# Concatenate part of a string to another
print(demo_string[:9] + " cohort")

i am ta
tanuja red
e ds
i am tanuja reddy from sj
i am tanu cohort

In [ ]:
# String formatting
# .5f represents the decimal vale upto 5 places
print("%c is my %s letter and my number %d number is %.5f" % ('X', 'favorite', 1, .14))
 
# Capitalizes the first letter
print(demo_string.capitalize())
 
# Returns the index of the start of the string
# case sensitive
print(demo_string.find("Floor"))

newstring="tanujareddy"
 
# Returns true if all characters are letters ' isn't a letter
print(newstring.isalpha())
print(demo_string.isalnum())

mystring="56324"
 
# Returns true if all characters are numbers
print(mystring.isalnum())
print(demo_string.isalnum())
 
# Returns the string length
print(len(demo_string))

X is my favorite letter and my number 1 number is 0.14000
I am tanuja reddy from sjsu se ds
-1
True
False
True
False
33

In [40]:
# Replace the first word with the second (Add a number to replace more)
print(demo_string.replace("Floor", "Ground"))

nstring="hi hi hi this is tauja reddy maligi reddy"
print(nstring.replace("hi", "hello",2))
 
# Remove white space from front and end
print(demo_string.strip())
 
# Split a string into a list based on the delimiter you provide
quote_list = demo_string.split(" ")
print(quote_list)

i am tanuja reddy from sjsu se ds
hello hello hi this is tauja reddy maligi reddy
i am tanuja reddy from sjsu se ds
['i', 'am', 'tanuja', 'reddy', 'from', 'sjsu', 'se', 'ds']

In [59]:
# Overwrite or create a file for writing
#the "rb" mode opens the file in binary format for reading, while the "wb" mode opens the file in binary format for writing
test_file = open("test.txt", "wb")

 
# Get the file mode used
print(test_file.mode)
 
# Get the files name
print(test_file.name)

wb
test.txt

In [60]:
# Write text to a file with a newline
test_file.write(bytes("Write me to the file\n", 'UTF-8'))
 
# Close the file
test_file.close()
 
# Opens a file for reading and writing
test_file = open("test.txt", "r+")
 
# Read text from the file
text_in_file = test_file.read()
 
print(text_in_file)

Write me to the file

In [ ]:
# Delete the file
os.remove("test.txt")

In [99]:
# CLASSES AND OBJECTS -------------
# The concept of OOP allows us to model real world things using code
# Every object has attributes (color, height, weight) which are object variables
# Every object has abilities (walk, talk, eat) which are object functions
 
class Animal:
    # None signifies the lack of a value
    # You can make a variable private by starting it with __
    __name = None
    __height = None
    __weight = None
    __sound = None
 
    # The constructor is called to set up or initialize an object
    # self allows an object to refer to itself inside of the class
    def __init__(self, name, height, weight, sound):
        self.__name = name
        self.__height = height
        self.__weight = weight
        self.__sound = sound
 
    def set_name(self, name):
        self.__name = name
 
    def set_height(self, height):
        self.__height = height
 
    def set_weight(self, weight):
        self.__weight = weight
 
    def set_sound(self, sound):
        self.__sound = sound
 
    def get_name(self):
        return self.__name
 
    def get_height(self):
        return str(self.__height)
 
    def get_weight(self):
        return str(self.__weight)
 
    def get_sound(self):
        return self.__sound
 
    def get_type(self):
        print("Animal")
 
    def toString(self):
        return "{} is {} cm tall and {} kilograms and says {}".format(self.__name, self.__height, self.__weight, self.__sound)

In [100]:
# How to create a Animal object
cat = Animal('billi', 20, 8, 'gurrrmeow')
 
print(cat.toString())

billi is 20 cm tall and 8 kilograms and says gurrrmeow

In [101]:
# You can't access this value directly because it is private
#print(cat.__name)
 
# INHERITANCE -------------
# You can inherit all of the variables and methods from another class
# Inheritance allows us to define a class that inherits all the methods and properties from another class
 
class Dog(Animal):
    __owner = None
 
    def __init__(self, name, height, weight, sound, owner):
        self.__owner = owner
        self.__animal_type = None
 
        # How to call the super class constructor
        super(Dog, self).__init__(name, height, weight, sound)
        
 
    def set_owner(self, owner):
        self.__owner = owner
 
    def get_owner(self):
        return self.__owner
 
    def get_type(self):
        print ("Dog")

In [102]:
 # We can overwrite functions in the super class
def toString(self):
        return "{} is {} cm tall and {} kilograms and says {}. His owner is {}".format(self.get_name(), self.get_height(), self.get_weight(), self.get_sound(), self.__owner)

In [103]:
# You don't have to require attributes to be sent
# This allows for method overloading
def multiple_sounds(self, how_many=None):
        if how_many is None:
            print(self.get_sound)
        else:
            print(self.get_sound() * how_many)
 
spot = Dog("spot", 34, 12, "boww", "john")
 
print(spot.toString())

spot is 34 cm tall and 12 kilograms and says boww

In [104]:
# Polymorphism allows use to refer to objects as their super class
# and the correct functions are called automatically
 
class AnimalTesting:
    def get_type(self, animal):
        animal.get_type()
 
test_animals = AnimalTesting()
 
test_animals.get_type(cat)
test_animals.get_type(spot)

spot.multiple_sounds(2)
spot.multiple_sounds()

Animal
Dog

AttributeError: ignored