# Apriori Algorithm

## `Method 1`

In [1]:
# Importing all the libraries
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [19]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [35]:
!pip install kaggle
!cp /content/drive/MyDrive/kaggle.json ~/.kaggle/kaggle.json

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.8/dist-packages (1.5.12)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.8/dist-packages (from kaggle) (7.0.0)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from kaggle) (4.64.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from kaggle) (2022.9.24)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.8/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (3.0.4)

In [36]:
!kaggle datasets download -d heeraldedhia/groceries-dataset

401 - Unauthorized

In [2]:
# Initializing the data
apriori_data = [['Cat', 'Dog', 'Donkey', 'Pig', 'Horse', 'Cow'],
           ['Pig', 'Cat', 'Cow', 'Donkey', 'Goat', 'Buffalo'],
           ['Dog', 'Pig', 'Cat', 'Donkey'],
           ['Pig', 'Horse', 'Donkey', 'Cat', 'Cow'],
           ['Dog', 'Horse', 'Sheep', 'Cat', 'Buffalo', 'Goat']]

In [3]:
# Transforming the data
data1 = TransactionEncoder()
transformed_apriori_data = data1.fit(apriori_data).transform(apriori_data)
apriori_result = pd.DataFrame(transformed_apriori_data, columns=data1.columns_)
apriori_result

   Buffalo   Cat    Cow    Dog  Donkey   Goat  Horse    Pig  Sheep
0    False  True   True   True    True  False   True   True  False
1     True  True   True  False    True   True  False   True  False
2    False  True  False   True    True  False  False   True  False
3    False  True   True  False    True  False   True   True  False
4     True  True  False   True   False   True   True  False   True

In [4]:
from mlxtend.frequent_patterns import apriori

apriori(apriori_result, min_support=0.3)

    support         itemsets
0       0.4              (0)
1       1.0              (1)
2       0.6              (2)
3       0.6              (3)
4       0.8              (4)
5       0.4              (5)
6       0.6              (6)
7       0.8              (7)
8       0.4           (0, 1)
9       0.4           (0, 5)
10      0.6           (1, 2)
11      0.6           (1, 3)
12      0.8           (1, 4)
13      0.4           (1, 5)
14      0.6           (1, 6)
15      0.8           (1, 7)
16      0.6           (2, 4)
17      0.4           (2, 6)
18      0.6           (2, 7)
19      0.4           (3, 4)
20      0.4           (3, 6)
21      0.4           (3, 7)
22      0.4           (4, 6)
23      0.8           (4, 7)
24      0.4           (6, 7)
25      0.4        (0, 1, 5)
26      0.6        (1, 2, 4)
27      0.4        (1, 2, 6)
28      0.6        (1, 2, 7)
29      0.4        (1, 3, 4)
30      0.4        (1, 3, 6)
31      0.4        (1, 3, 7)
32      0.4        (1, 4, 6)
33      0.8        (1, 4, 7)
34      0.4        (1, 6, 7)
35      0.4        (2, 4, 6)
36      0.6        (2, 4, 7)
37      0.4        (2, 6, 7)
38      0.4        (3, 4, 7)
39      0.4        (4, 6, 7)
40      0.4     (1, 2, 4, 6)
41      0.6     (1, 2, 4, 7)
42      0.4     (1, 2, 6, 7)
43      0.4     (1, 3, 4, 7)
44      0.4     (1, 4, 6, 7)
45      0.4     (2, 4, 6, 7)
46      0.4  (1, 2, 4, 6, 7)

In [5]:
apriori(apriori_result, min_support=0.7, use_colnames=True)

   support            itemsets
0      1.0               (Cat)
1      0.8            (Donkey)
2      0.8               (Pig)
3      0.8       (Cat, Donkey)
4      0.8          (Cat, Pig)
5      0.8       (Donkey, Pig)
6      0.8  (Cat, Donkey, Pig)

## `Method 2`

In [6]:
!pip install mlxtend --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Collecting mlxtend
  Downloading mlxtend-0.21.0-py2.py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 4.9 MB/s
Requirement already satisfied: scikit-learn>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.2.0)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.0.0->mlxtend) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->mlxtend) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.2->mlxtend) (3.1.0)
Installing collected packages: mlxtend
  Attempting uninstall: mlxtend
    Found existing installation: mlxtend 0.14.0
    Uninstalling mlxtend-0.14.0:
      Successfully uninstalled mlxtend-0.14.0
Successfully installed mlxtend-0.21.0

In [1]:
# Importing the libraries
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules

In [7]:
# Loading the data
apriori_Gdata = pd.read_csv("Bakery.csv")
apriori_Gdata.product_name = ["".join(i.split(",")) for i in apriori_Gdata.Items]
apriori_Gorder = apriori_Gdata.TransactionNo.unique()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
 #Transforming the data
apriori_trans = [apriori_Gdata[apriori_Gdata.TransactionNo == i]["Items"].tolist() for i in apriori_Gorder]
apriori_encoder = TransactionEncoder().fit(apriori_trans)
apriori_trans = apriori_encoder.transform(apriori_trans)
apriori_trans = pd.DataFrame(apriori_trans,columns=apriori_encoder.columns_)

In [28]:
# Applying apriori algorithm
freq_apriori = apriori(apriori_trans,min_support=0.0095,use_colnames=True)

# Applying association rules
apriori_association_data = association_rules(freq_apriori,metric="lift")
for item in apriori_association_data.iterrows():
  print(f"Rule {item[0] + 1}: {tuple(item[1].antecedents)} -> {tuple(item[1].consequents)}")

Rule 1: ('Bread',) -> ('Alfajores',)
Rule 2: ('Alfajores',) -> ('Bread',)
Rule 3: ('Alfajores',) -> ('Coffee',)
Rule 4: ('Coffee',) -> ('Alfajores',)
Rule 5: ('Bread',) -> ('Brownie',)
Rule 6: ('Brownie',) -> ('Bread',)
Rule 7: ('Bread',) -> ('Cookies',)
Rule 8: ('Cookies',) -> ('Bread',)
Rule 9: ('Medialuna',) -> ('Bread',)
Rule 10: ('Bread',) -> ('Medialuna',)
Rule 11: ('Bread',) -> ('Pastry',)
Rule 12: ('Pastry',) -> ('Bread',)
Rule 13: ('Brownie',) -> ('Coffee',)
Rule 14: ('Coffee',) -> ('Brownie',)
Rule 15: ('Cake',) -> ('Coffee',)
Rule 16: ('Coffee',) -> ('Cake',)
Rule 17: ('Hot chocolate',) -> ('Cake',)
Rule 18: ('Cake',) -> ('Hot chocolate',)
Rule 19: ('Cake',) -> ('Tea',)
Rule 20: ('Tea',) -> ('Cake',)
Rule 21: ('Coffee',) -> ('Cookies',)
Rule 22: ('Cookies',) -> ('Coffee',)
Rule 23: ('Hot chocolate',) -> ('Coffee',)
Rule 24: ('Coffee',) -> ('Hot chocolate',)
Rule 25: ('Juice',) -> ('Coffee',)
Rule 26: ('Coffee',) -> ('Juice',)
Rule 27: ('Medialuna',) -> ('Coffee',)
Rule 28: ('Coffee',) -> ('Medialuna',)
Rule 29: ('Muffin',) -> ('Coffee',)
Rule 30: ('Coffee',) -> ('Muffin',)
Rule 31: ('Coffee',) -> ('Pastry',)
Rule 32: ('Pastry',) -> ('Coffee',)
Rule 33: ('Coffee',) -> ('Sandwich',)
Rule 34: ('Sandwich',) -> ('Coffee',)
Rule 35: ('Scone',) -> ('Coffee',)
Rule 36: ('Coffee',) -> ('Scone',)
Rule 37: ('Soup',) -> ('Coffee',)
Rule 38: ('Coffee',) -> ('Soup',)
Rule 39: ('Spanish Brunch',) -> ('Coffee',)
Rule 40: ('Coffee',) -> ('Spanish Brunch',)
Rule 41: ('Toast',) -> ('Coffee',)
Rule 42: ('Coffee',) -> ('Toast',)
Rule 43: ('Tea',) -> ('Cookies',)
Rule 44: ('Cookies',) -> ('Tea',)
Rule 45: ('Tea',) -> ('Sandwich',)
Rule 46: ('Sandwich',) -> ('Tea',)
Rule 47: ('Bread', 'Coffee') -> ('Cake',)
Rule 48: ('Bread', 'Cake') -> ('Coffee',)
Rule 49: ('Coffee',) -> ('Bread', 'Cake')
Rule 50: ('Cake',) -> ('Bread', 'Coffee')
Rule 51: ('Bread', 'Coffee') -> ('Pastry',)
Rule 52: ('Bread', 'Pastry') -> ('Coffee',)
Rule 53: ('Coffee',) -> ('Bread', 'Pastry')
Rule 54: ('Pastry',) -> ('Bread', 'Coffee')
Rule 55: ('Cake', 'Tea') -> ('Coffee',)
Rule 56: ('Cake', 'Coffee') -> ('Tea',)
Rule 57: ('Tea', 'Coffee') -> ('Cake',)
Rule 58: ('Cake',) -> ('Tea', 'Coffee')
Rule 59: ('Tea',) -> ('Cake', 'Coffee')
Rule 60: ('Coffee',) -> ('Cake', 'Tea')

# FP-Growth Algorithm

## `Method 1`

In [11]:
!pip install mlxtend --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.21.0)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: scikit-learn>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.0.0->mlxtend) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->mlxtend) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.2->mlxtend) (3.1.0)

In [12]:
# Importing the libraries
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [13]:
# Initializing the data
fpgrowth_data = [['Cat', 'Dog', 'Donkey', 'Pig', 'Horse', 'Cow'],
           ['Pig', 'Cat', 'Cow', 'Donkey', 'Goat', 'Buffalo'],
           ['Dog', 'Pig', 'Cat', 'Donkey'],
           ['Pig', 'Horse', 'Donkey', 'Cat', 'Cow'],
           ['Dog', 'Horse', 'Sheep', 'Cat', 'Buffalo', 'Goat']]

In [14]:
# Transforming the data
new_data = TransactionEncoder()
transformed_fpgrowth_data = new_data.fit(fpgrowth_data).transform(fpgrowth_data)
fpgrowth_result = pd.DataFrame(transformed_fpgrowth_data, columns=new_data.columns_)
fpgrowth_result

   Buffalo   Cat    Cow    Dog  Donkey   Goat  Horse    Pig  Sheep
0    False  True   True   True    True  False   True   True  False
1     True  True   True  False    True   True  False   True  False
2    False  True  False   True    True  False  False   True  False
3    False  True   True  False    True  False   True   True  False
4     True  True  False   True   False   True   True  False   True

In [15]:
from mlxtend.frequent_patterns import fpgrowth

fpgrowth(fpgrowth_result, min_support=0.4)

    support         itemsets
0       1.0              (1)
1       0.8              (7)
2       0.8              (4)
3       0.6              (6)
4       0.6              (3)
5       0.6              (2)
6       0.4              (5)
7       0.4              (0)
8       0.8           (1, 7)
9       0.8           (4, 7)
10      0.8           (1, 4)
11      0.8        (1, 4, 7)
12      0.6           (1, 6)
13      0.4           (4, 6)
14      0.4           (6, 7)
15      0.4        (1, 4, 6)
16      0.4        (1, 6, 7)
17      0.4        (4, 6, 7)
18      0.4     (1, 4, 6, 7)
19      0.6           (1, 3)
20      0.4           (3, 6)
21      0.4           (3, 4)
22      0.4           (3, 7)
23      0.4        (1, 3, 6)
24      0.4        (1, 3, 4)
25      0.4        (3, 4, 7)
26      0.4        (1, 3, 7)
27      0.4     (1, 3, 4, 7)
28      0.6           (2, 4)
29      0.6           (2, 7)
30      0.6           (1, 2)
31      0.4           (2, 6)
32      0.6        (2, 4, 7)
33      0.6        (1, 2, 4)
34      0.4        (2, 4, 6)
35      0.6        (1, 2, 7)
36      0.4        (2, 6, 7)
37      0.4        (1, 2, 6)
38      0.6     (1, 2, 4, 7)
39      0.4     (2, 4, 6, 7)
40      0.4     (1, 2, 4, 6)
41      0.4     (1, 2, 6, 7)
42      0.4  (1, 2, 4, 6, 7)
43      0.4           (1, 5)
44      0.4           (0, 5)
45      0.4           (0, 1)
46      0.4        (0, 1, 5)

In [16]:
fpgrowth(fpgrowth_result, min_support=0.7, use_colnames=True)

   support            itemsets
0      1.0               (Cat)
1      0.8               (Pig)
2      0.8            (Donkey)
3      0.8          (Cat, Pig)
4      0.8       (Cat, Donkey)
5      0.8       (Donkey, Pig)
6      0.8  (Cat, Donkey, Pig)

## `Method 2`

In [17]:
# Importing the libraries
from mlxtend.frequent_patterns import fpgrowth,association_rules

In [19]:
# Loading the data
fp_data = pd.read_csv("Bakery.csv")
fp_data.product_name = ["".join(i.split(",")) for i in fp_data.Items]
fp_order = fp_data.TransactionNo.unique()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  This is separate from the ipykernel package so we can avoid doing imports until

In [21]:
# Transforming the data
fp_trans = [fp_data[fp_data.TransactionNo == i]["Items"].tolist() for i in fp_order]
fp_encoder = TransactionEncoder().fit(fp_trans)
fp_trans = fp_encoder.transform(fp_trans)
fp_trans = pd.DataFrame(fp_trans,columns=fp_encoder.columns_)

In [29]:
# Applying apriori algorithm
fp_freq = fpgrowth(fp_trans,min_support=0.008,use_colnames=True)

# Applying association rules
fp_association_data = association_rules(fp_freq,metric="lift")
for item in fp_association_data.iterrows():
 print(f"Rule {item[0] + 1}: {tuple(item[1].antecedents)} -> {tuple(item[1].consequents)}")

Rule 1: ('Hot chocolate',) -> ('Coffee',)
Rule 2: ('Coffee',) -> ('Hot chocolate',)
Rule 3: ('Hot chocolate',) -> ('Tea',)
Rule 4: ('Tea',) -> ('Hot chocolate',)
Rule 5: ('Hot chocolate',) -> ('Cake',)
Rule 6: ('Cake',) -> ('Hot chocolate',)
Rule 7: ('Coffee',) -> ('Cookies',)
Rule 8: ('Cookies',) -> ('Coffee',)
Rule 9: ('Tea',) -> ('Cookies',)
Rule 10: ('Cookies',) -> ('Tea',)
Rule 11: ('Bread',) -> ('Cookies',)
Rule 12: ('Cookies',) -> ('Bread',)
Rule 13: ('Muffin',) -> ('Coffee',)
Rule 14: ('Coffee',) -> ('Muffin',)
Rule 15: ('Coffee',) -> ('Pastry',)
Rule 16: ('Pastry',) -> ('Coffee',)
Rule 17: ('Bread',) -> ('Pastry',)
Rule 18: ('Pastry',) -> ('Bread',)
Rule 19: ('Bread', 'Coffee') -> ('Pastry',)
Rule 20: ('Bread', 'Pastry') -> ('Coffee',)
Rule 21: ('Coffee',) -> ('Bread', 'Pastry')
Rule 22: ('Pastry',) -> ('Bread', 'Coffee')
Rule 23: ('Medialuna',) -> ('Pastry',)
Rule 24: ('Pastry',) -> ('Medialuna',)
Rule 25: ('Medialuna',) -> ('Coffee',)
Rule 26: ('Coffee',) -> ('Medialuna',)
Rule 27: ('Medialuna',) -> ('Tea',)
Rule 28: ('Tea',) -> ('Medialuna',)
Rule 29: ('Medialuna',) -> ('Bread',)
Rule 30: ('Bread',) -> ('Medialuna',)
Rule 31: ('Juice',) -> ('Coffee',)
Rule 32: ('Coffee',) -> ('Juice',)
Rule 33: ('Soup',) -> ('Tea',)
Rule 34: ('Tea',) -> ('Soup',)
Rule 35: ('Soup',) -> ('Coffee',)
Rule 36: ('Coffee',) -> ('Soup',)
Rule 37: ('Cake',) -> ('Coffee',)
Rule 38: ('Coffee',) -> ('Cake',)
Rule 39: ('Cake',) -> ('Tea',)
Rule 40: ('Tea',) -> ('Cake',)
Rule 41: ('Cake', 'Tea') -> ('Coffee',)
Rule 42: ('Cake', 'Coffee') -> ('Tea',)
Rule 43: ('Tea', 'Coffee') -> ('Cake',)
Rule 44: ('Cake',) -> ('Tea', 'Coffee')
Rule 45: ('Tea',) -> ('Cake', 'Coffee')
Rule 46: ('Coffee',) -> ('Cake', 'Tea')
Rule 47: ('Bread', 'Coffee') -> ('Cake',)
Rule 48: ('Bread', 'Cake') -> ('Coffee',)
Rule 49: ('Coffee',) -> ('Bread', 'Cake')
Rule 50: ('Cake',) -> ('Bread', 'Coffee')
Rule 51: ('Tea',) -> ('Sandwich',)
Rule 52: ('Sandwich',) -> ('Tea',)
Rule 53: ('Coffee',) -> ('Sandwich',)
Rule 54: ('Sandwich',) -> ('Coffee',)
Rule 55: ('Alfajores',) -> ('Coffee',)
Rule 56: ('Coffee',) -> ('Alfajores',)
Rule 57: ('Bread',) -> ('Alfajores',)
Rule 58: ('Alfajores',) -> ('Bread',)
Rule 59: ('Brownie',) -> ('Coffee',)
Rule 60: ('Coffee',) -> ('Brownie',)
Rule 61: ('Bread',) -> ('Brownie',)
Rule 62: ('Brownie',) -> ('Bread',)
Rule 63: ('Coffee',) -> ('Tiffin',)
Rule 64: ('Tiffin',) -> ('Coffee',)
Rule 65: ('Toast',) -> ('Coffee',)
Rule 66: ('Coffee',) -> ('Toast',)
Rule 67: ('Bread',) -> ('Scone',)
Rule 68: ('Scone',) -> ('Bread',)
Rule 69: ('Scone',) -> ('Coffee',)
Rule 70: ('Coffee',) -> ('Scone',)
Rule 71: ('Scone',) -> ('Tea',)
Rule 72: ('Tea',) -> ('Scone',)
Rule 73: ('Spanish Brunch',) -> ('Coffee',)
Rule 74: ('Coffee',) -> ('Spanish Brunch',)